-r requirements.txt

black==26.3.0
flake8==7.3.0
pytest==8.4.2
pytest-cov==7.0.0
pytest-mock==3.15.1
pytest-asyncio==1.0.0
responses==0.26.0
httmock==1.4.0
wooper==0.4.4

mypy==1.19.1
types-flask==1.1.6
types-requests==2.28.11.8
