{% extends "layout_wire.html" %}

{% block contentMain %}
<div class="container-fluid py-5 overflow-auto">
    <div class="row"></div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xxl-3 mx-auto">
            <div class="card border-0 bg-white box-shadow--z1">
                <div class="card-header pt-4 border-0 bg-white">
                    <div class="text-center mb-4">
                        {% include 'login_logo.html' %}
                    </div>
                    <h5 class="mb-0">{{ gettext("Reset Password") }}</h5>
                </div>
                <div class="card-body pt-1 pb-2">
                    <form class="form" role="form" id="reset-password-form" method="post">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            <label for="email">{{ form.email.label.text }}</label>
                            {{ form.email(class="form-control", id="email", required="true")}}
                        </div>
                        {{ form.email_sent(id="email_sent_checkbox", hidden="hidden") }}
                        <button type="submit" id="send-email" class="nh-button nh-button--primary w-100">{{ gettext("Send Password Reset Email") }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include "login_messages.html" %}

    <script type="text/javascript">
        window.nextUrl = "{{ request.args.get("url") or url_for("auth.login", external=True) }}";
    </script>
    {{ javascript_tag('reset_password') | safe }}
</div>
{% endblock %}