<h1>{{ get_highlighted_field(item, ["headline"]) | safe }}</h1>

<p style="font-size: 0.875rem; font-weight: 400; line-height: 1.3; font-family: 'Lato', sans-serif; color: #444;">
    <span style="font-weight: 600;">Voir cet élément dans votre compte: </span><a href="{{ url_for_wire(item, True, section) }}">{{ url_for_wire(item, True, section) }}</a><br />
    {% if topic_name %}<span style="font-weight: 600;">Nouvel élément pour votre sujet suivi: </span>{{ topic_name }}<br />{% endif %}
    {% if item.service %}<span style="font-weight: 600;">Catégorie: </span>{{ item.service[0].name }}<br />{% endif %}
    <span style="font-weight: 600;">Nombre de mots: </span>{{ item.wordcount }}<br />
</p>

<p style="font-size: 0.875rem; font-weight: 400; line-height: 1.3; font-family: 'Lato', sans-serif; color: #444;">
    {% if item.slugline %}<span style="font-weight: 600;">Titre de rappel: </span>{{ get_highlighted_field(item, ["slugline"]) | safe }}<br />{% endif %}
    {% if item.source %}<span style="font-weight: 600;">Source: </span>{{ item.source }}<br />{% endif %}
    <span style="font-weight: 600;">Publié: </span>{{ item.versioncreated | datetime_long }}<br />
    {% if item.byline %}<span style="font-weight: 600;">{{ item.byline }}</span>{% endif %}
</p>

<div style="font-size: 0.9375rem; font-weight: 400; line-height: 1.55; font-family: 'Lato', sans-serif; color: #333">
{% if item.body_html %}{{ get_highlighted_field(item, ["body_html"]) | safe }}{% elif item.body_txt %}<pre>{{ item.body_txt }}</pre>{% endif %}
</div>

