<h1>{{ get_highlighted_field(item, ["headline", "name"]) | safe }}</h1>

<b>Voir cet élément dans votre compte : </b><a href="{{ url_for_agenda(item) }}">{{ url_for_agenda(item) }}</a><br>

{% if item.event %}
    <p class="h3"><b>Quand : </b>{{ dateString }}  {{get_event_state(item)}}</p>
{% endif %}

{% if location and location != '' %}
    <p class="h3"><b>Où : </b>{{ location }}</p>
{% endif %}

{% if map and map != '' %}
    <div><img style="height: auto!important; max-width: 700px!important; width: 100%!important"
              src={{ map | safe }}></div>
{% endif %}

{% if contacts | length is gt 0 %}
    <p><b>Contact : </b>
    {% for contact in contacts %}
        <div>{{ contact.name or contact.organisation }}
        {{ contact.phone }}
        {{ contact.mobile }}
        {{ contact.email }}</div>
    {% endfor %}
    </p>
{% endif %}

{% if links | length is gt 1 %}
    <p><b>Web : </b>
    {% for link in links %}
        <div><a href={{ link | safe }}>{{ link }}</a><br></div>
    {% endfor %}
    </p>
{% endif %}

{% if item.definition_long or item.definition_short %}
    <b>Description de l’événement : </b>
    <p>
        {{ get_highlighted_field(item, ["definition_long", "definition_short"]) | safe }}
    </p>
{% endif %}

{% for planning_item in item.get('planning_items', []) or [] %}
    <div>
        <div>
            <h3>Élément de couverture : </h3>
            {% if (planning_item.get('description_text') or planning_item.get('name') or '') != (item.definition_long or item.definition_short) %}
                <p>
                <b>Description de l’élément de planification : </b>{{ planning_item.get('description_text') or planning_item.get('name') or '' }}
                </p>
            {% endif %}
        </div>

        {% if planning_item.get('ednote') %}
            <div>
                <strong>Note de la rédaction : </strong>
                {{ planning_item.get('ednote') }}
            </div>
        {% endif %}

        {% if planning_item.get('coverages', []) %}
            <p>
                <div>
                    <p><strong>Couverture : </strong></p>
                </div>

                {% for cov in get_planning_coverages(item, planning_item._id) %}
                    <div>
                        <p><b>Type de couverture : </b>{{get_coverage_content_type(cov,recipient_language)}}</p>
                        <p><b>Statut de couverture : </b>{{get_coverage_status(cov)}}</p>
                        <p><b>Date et heure d’échéance de la couverture : </b>{{get_coverage_date(cov)}}</p>
                        <p><b>Affectée à : </b>
                            {% if cov.get('assigned_desk_name') %}{{cov['assigned_desk_name']}}{% endif %}
                            {% if cov.get('assigned_desk_email') %}<a href="mailto:{{cov['assigned_desk_email']}}?subject=Demande de couverture d’une utilisatrice de PC NouvellesPro : {{item.headline or item.name}}">{{cov['assigned_desk_email']}}</a>{% endif %}
                            {% if cov.get('assigned_user_name') %}{{cov['assigned_user_name']}}{% endif %}
                            {% if cov.get('assigned_user_email') %}<a href="mailto:{{cov['assigned_desk_email']}}?subject=Demande de couverture d’une utilisatrice de PC NouvellesPro : {{item.headline or item.name}}">{{cov['assigned_user_email']}}</a>{% endif %}
                        </p>
                    </div>
                {% endfor %}
            </p>
        {% endif %}
    </div>
{% endfor %}
<div><b>Sujet enregistré : {{ topic_name }}</b></div>