{% block name %}{% if name %}<p>Bonjour {{ name }},</p>

{% endif %}{% endblock %}
{% block content %}{% endblock %}

{% block footer %}
<p>Cordialement,<br/>
L’équipe de La Presse Canadienne</p>

<p>Pour toutes questions, contactez <a href="mailto:ventes@lapressecanadienne.com">ventes@lapressecanadienne.com</a> du lundi au vendredi, entre 9h et 17h. En dehors de ces heures, écrivez à <a href="mailto:support@thecanadianpress.com">support@thecanadianpress.com</a> (assistance en anglais seulement).</p>
<p>Visitez notre <a href="https://www.thecanadianpress.com/?lang=fr">site internet</a> pour plus de services de La Presse Canadienne – respectée, pertinente, fiable.</p>
{% endblock %}
