{% block name %}{% if name %}<p>Hi {{ name }},</p>

{% endif %}{% endblock %}
{% block content %}{% endblock %}

{% block footer %}
<p>Regards,<br/>
The Canadian Press Team</p>
<p><a href="https://www.thecanadianpress.com/contact/">Contact us</a> at 1-800-268-8149 or <a href="mailto:support@thecanadianpress.com">support@thecanadianpress.com</a></p>
<p>Visit <a href="https://www.thecanadianpress.com/">https://www.thecanadianpress.com/</a> for more services from Canada's trusted news leader.</p>
{% endblock %}
