{% extends "layout_wire.html" %}

{% block contentMain %}

<div class="container-fluid py-5 overflow-auto">

    {% include "login_messages.html" %}

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xxl-3 mx-auto">
            <div class="card border-0 bg-white box-shadow--z1">
                <div class="card-header pt-4 border-0 bg-white">
                    <div class="text-center mb-4">
                        {% include 'login_logo.html' %}
                    </div>
                    <h5 class="mb-0">{{ gettext("Login") }}</h5>
                </div>
                <div class="card-body pt-1 pb-2">
                    {% include "login_form.html" %}
                </div>

                {% if config.SAML_AUTH_ENABLED %}
                <div class="card-body pt-1 pb-2">
                    <a href="{{ url_for('auth.saml') }}" title="{{ gettext('Login using Single Sign On') }}" class="btn btn-primary btn-block">{{ config.SAML_LABEL }}</a>
                </div>
                {% endif %}

                <div class="card-footer bg-white border-0 small">
                    {% if get_locale() == "en"  %}
                        <a href="https://www.thecanadianpress.com/contact/news-pro/" class="btn btn-outline-primary btn-block mb-4 mt-2">{{ gettext("Sign up") }}</a>
                    {% elif get_locale() == "fr_CA" %}
                        <a href="https://www.thecanadianpress.com/contact/nouvelles-pro/?lang=fr" class="btn btn-outline-primary btn-block mb-4 mt-2">{{ gettext("Sign up") }}</a>
                    {% endif %}
                    <p>{{ gettext('Forgot your password?') }} <a href="{{ url_for('auth.token', token_type='reset_password') }}">{{ gettext('Click here to reset.') }}</a></p>
                </div>

                {% if get_client_locales()|length is gt 1 %}
                <div class="card-body pt-1">
                    <form class="form" role="form" method="post" action="{{ url_for('auth.set_locale') }}">
                        <div class="form-group">
                            <label for="language">{{ gettext('Language') }}</label>
                            <div class="field">
                                <select name="locale" class="form-control" onchange="this.form.submit()">
                                    {% for locale in get_client_locales() %}
                                    <option value="{{ locale.locale }}" {% if locale.locale == get_locale() %}selected{% endif %}>{{ locale.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {{ javascript_tag('login') | safe }}
</div>
{% endblock %}
