{% extends "login_layout.html" %}

{% block login_footer %}
{% if get_locale() == "fr_CA" %}
    <a href="https://www.thecanadianpress.com/comment-vous-aider/sinscrire-a-nouvellespro/?lang=fr" class="nh-button nh-button--secondary w-100 mb-4 mt-2">{{ gettext("Sign up") }}</a>
    {% else %}
    <a href="https://www.thecanadianpress.com/contact/pr-signup" class="nh-button nh-button--secondary w-100 mb-4 mt-2">{{ gettext("Sign up") }}</a>
    {% endif %}
    <p>
        {{ gettext('Forgot your password?') }}
        <a href="mailto:help-aide@cpnewspro.com?subject={{ gettext('Please reset my password for NewsPro') }}">{{ gettext('Contact Us') }}</a>
    </p>
    <a class="nh-button nh-button--secondary mb-4 mt-2" href="{{ url_for("auth.token", token_type="reset_password") }}">{{ gettext('Reset password') }}</a>
{% endblock %}

