{% extends "email_layout.html" %}

{% block name %}<p>Hello,</p>{% endblock %}

{% block content %}
<p>Please follow the link below to reset your password for the NewsPro account.</p>
<p>The link expires after 24 hours and is unique to your email address <a href="mailto:{{email}}">{{email}}</a>:</p>
<p><a href="{{url}}">{{url}}</a></p>
<p><strong>Has the above link expired?</strong></p>
<ul>
<li>Please enter your email address on <a href="{{ url_for('auth.token', token_type='reset_password', _external=True) }}">this page</a> to reset your password.</li>
</ul>
<p>Login: <a href="{{ url_for('auth.login', _external=True) }}">{{ url_for('auth.login', _external=True) }}</a></p>
<p>If you do not need to reset your password, please ignore this email.</p>
{% endblock %}

{% block footer %}
<p>Thank you,</p>
<p>The Canadian Press Team</p>
<p>Contact us at 1-800-268-8149 or <a href="mailto:support@thecanadianpress.com">support@thecanadianpress.com</a></p>
{% endblock %}