{% extends "email_layout.fr_ca.html" %}

{% block content %}
<p>Nous avons récemment reçu une demande de réinitialisation de mot de passe pour l’adresse de courriel {{email}}</p>
<p>Si vous êtes à l’origine de cette demande et que vous voulez toujours réinitialiser votre mot de passe, veuillez utiliser le lien <a href="{{url}}">{{url}}</a> pour réinitialiser votre mot de passe.</p>
<p>Le lien pour réinitialiser le mot de passe expirera dans {{expires}} heures.</p>
<p>Si vous n’êtes pas à l’origine de cette demande, ou si vous ne désirez plus réinitialiser votre mot de passe, veuillez ignorer ce courriel.</p>
{% endblock %}