{% extends "email_layout.fr_ca.html" %}

{% block name %}<p>Bonjour,</p>{% endblock %}

{% block content %}
<p>Veuillez cliquer sur le lien suivant pour réinitialiser votre mot de passe et accéder à votre profil NouvellesPro. Le lien est valide pendant 24 heures et est unique à votre courriel <a href="mailto:{{email}}">{{email}}</a> :</p>
<p><a href="{{url}}">{{url}}</a></p>
<p><strong>Est-ce que le lien ci-dessus a expiré?</strong></p>
<ul>
<li>Veuillez entrer votre adresse de courriel sur <a href="{{ url_for('auth.token', token_type='reset_password', _external=True) }}">cette page</a> pour réinitialiser votre mot de passe.</li>
</ul>
<p>Ouvrir une session: <a href="{{ url_for('auth.login', _external=True) }}">{{ url_for('auth.login', _external=True) }}</a></p>
<p>Si vous n’avez pas demandé de réinitialiser votre mot de passe, veuillez s’il vous plaît ignorer ce courriel.</p>
{% endblock %}

{% block footer %}
<p>Merci,</p>
<p>L’équipe de La Presse Canadienne</p>
<p>Pour toutes questions, contactez <a href="mailto:ventes@lapressecanadienne.com">ventes@lapressecanadienne.com</a> du lundi au vendredi, entre 9 h et 17 h. En dehors de ces heures, écrivez à <a href="mailto:support@thecanadianpress.com">support@thecanadianpress.com</a> (assistance en anglais seulement).</p>
{% endblock %}